[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.68.0,<0.69.0"
uvicorn = "<0.16.0,>=0.15.0"
python-dotenv = "*"
pydantic = "*"
fastapi-sso = "*"
python-multipart = "*"
sqlalchemy = "*"
fastapi-sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
void = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
