[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.68.0,<0.69.0"
uvicorn = "<0.16.0,>=0.15.0"
python-dotenv = "*"
pydantic = ">=1.8.0,<2.0.0"
fastapi-sso = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
